.footer {
  background: rgba(11, 10, 12, 0.6);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
}

.footer__logo {
  margin-bottom: 1.5rem;
}

.footer__idea {
  margin-left: 1rem;

  font-size: 18px;
  line-height: 32px; /* or 178% */
  color: rgba(255, 255, 255, 0.7);
}

.footer__links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer__heading {
  margin-bottom: 1.5rem;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%; /* or 27px */
  color: #ffffff;
}

.footer__link {
  margin-bottom: 0.5rem;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* or 24px */
  color: rgba(255, 255, 255, 0.7);
}

.footer__details {
  margin-top: 2rem;
  padding-top: 2rem;

  border-top: 1px solid #3f3e45;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  margin-right: 1.5rem;
}
