* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.App {
  background-color: #00040f;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

main {
  max-width: 2000px;
  margin: 0 auto;
}

.section__padding {
  padding: 4rem 8rem;
}

.section__margin {
  margin: 4rem 8rem;
}
